@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-bg: rgba(38, 42, 49);
  --color-bg-dark: rgb(28, 33, 40);
  --color-dark: black;
  --color-accent: rgba(42, 190, 120, 0.8);
  --color-accent-glow: rgba(42, 190, 120, 1);
  --color-accent-light: rgb(60, 243, 157);
  --color-font: rgba(255, 255, 255, 0.8);
  --color-font-glow: rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: var(--color-dark);
  color: var(--color-font-glow);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: black var(--color-accent-glow);
}
#styled-scrollbars::-webkit-scrollbar {
  width: 20px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
#styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: black;
  border: white solid  1px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px black;
}
#styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: var(--color-accent-glow);
  box-shadow: 0 0 10px 30px var(--color-accent-glow);
}