@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-bg: rgba(38, 42, 49);
  --color-bg-dark: rgb(28, 33, 40);
  --color-dark: black;
  --color-accent: rgba(42, 190, 120, 0.8);
  --color-accent-glow: rgba(42, 190, 120, 1);
  --color-accent-light: rgb(60, 243, 157);
  --color-font: rgba(255, 255, 255, 0.8);
  --color-font-glow: rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  height: fit-content;
  background-color: var(--color-dark);
  color: var(--color-font-glow);
}

main {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: black var(--color-accent-glow);
}
#styled-scrollbars::-webkit-scrollbar {
  width: 20px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
#styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: black;
  border: grey solid  1px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px black;
}
#styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: var(--color-accent-glow);
  box-shadow: 0 0 10px 30px var(--color-accent-glow);
}






/* ================   ANIMATIONS   ================== */

.fade-in {
  opacity: 0;
  position: relative;
  animation: fadeIn 2s forwards;
}

.animation-delay-01 {
  animation-delay: 0.1s;
}
.animation-delay-02 {
  animation-delay: 0.2s;
}
.animation-delay-03 {
  animation-delay: 0.3s;
}
.animation-delay-04 {
  animation-delay: 0.4s;
}
.animation-delay-05 {
  animation-delay: 0.5s;
}
.animation-delay-06 {
  animation-delay: 0.6s;
}
.animation-delay-07 {
  animation-delay: 0.7s;
}
.animation-delay-08 {
  animation-delay: 0.8s;
}
.animation-delay-09 {
  animation-delay: 0.9s;
}
.animation-delay-10 {
  animation-delay: 1s;
}
.animation-delay-11 {
  animation-delay: 1.1s;
}
.animation-delay-12 {
  animation-delay: 1.2s;
}
.animation-delay-13 {
  animation-delay: 1.3s;
}
.animation-delay-14 {
  animation-delay: 1.4s;
}
.animation-delay-15 {
  animation-delay: 1.5s;
}
.animation-delay-16 {
  animation-delay: 1.6s;
}


  @keyframes fadeIn {
    0% {
      top: -100px;
      left: -20px;
      opacity: 0;
    }
    100% {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }