/* =====================================================
/                      ABOUT PAGE STYLES
/ ===================================================== */

.about-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* border: solid red 2px; */
}
  & h1 {
    font-size: 50px;
    font-weight: 600;
  }
.underline-div {
  width: 80px;
  border-top: 4px solid black;
  border-radius: 5px;
}
  & h2 {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 500;
  }

/* ========== FOCUS DIV ========== */
.key-focus-div {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 100px;
}
.focus-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
  .focus-div h3 {
    margin: 10px;
    margin-top: 25px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }
  .focus-div p {
    text-align: center;
  }


/* ========== PROFILE DIV ========== */
.profile-div {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 100px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}
  .profile-img {
    border: solid black 2px;
    width: 300px;
    height: 300px;
    border-radius: 200px;
  }
  .profile-title {
    margin: 80px 0 20px 0;
    text-align: center;
  }
  .profile-content {
    width: 600px;
  }



.skills-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-height: 500px;
  padding-top: 20px;
  border: 6px solid var(--color-bg-dark);
}
  .skills-div h2 {
    margin: 0;
    font-size: 40px;
  }
  .skills-list {
    height: 100%;
    width: 180px;
    margin-top: 30px;
  }
    .skills-list p {
      text-align: right;
      font-size: 20px;
      font-weight: 500;
    }
    .skill-bar {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 20px;
      margin-bottom: 20px;
    }
      .skill-bar-unit {
        height: 20px;
        width: 20px;
      }
      .dark-fill {
        background-color: var(--color-accent);
      }
      .light-fill {
        background-color: grey;
      }




/* Slide in Animations */
.slide-in-left {
  animation: 1.5s ease-out slideInLeft;
}
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.slide-in-right {
  animation: 1.5s ease-out slideInRight;
}
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.flip-in-y {
  animation: 2s ease-in-out flipInY;
}
  .image-1 {
    animation-delay: 0s;
  }
  .image-2 {
    animation-delay: 0.2s;
  }
  .image-3 {
    animation-delay: 0.4s;
  }
  .image-4 {
    animation-delay: 0.6s;
  }
  @keyframes flipInY {
    0% {
       transform: perspective(400px) rotateY(90deg);
       opacity: 0;
    }
    40% {
       transform: perspective(400px) rotateY(-10deg);
    }
    70% {
       transform: perspective(400px) rotateY(10deg);
    }
    100% {
       transform: perspective(400px) rotateY(0deg);
       opacity: 1;
    }
 } 