/* =====================================================
/                      ABOUT PAGE STYLES
/ ===================================================== */

.about-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 5px;
  margin: auto;
  /* border: solid red 2px; */
}
  .about-div h1 {
    font-size: 40px;
    font-weight: 600;
  }
.underline-div {
  width: 80px;
  border-top: 4px solid var(--color-font-glow);
  border-radius: 5px;
}
  


  /* ========== PROFILE DIV ========== */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  margin-top: 50px;
}
  .profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--color-accent-light) 5px;
    border-radius: 7px;
    width: 250px;
    height: 344px;
    padding: 5px;
    box-shadow: 0 5px 30px var(--color-accent-light);
  }
  .profile-content {
    margin-top: 40px;
    text-align: center;
    max-width: 600px;
  }
    .profile-content p {
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 2px;
    }
    .contact-me-link {
      color: var(--color-accent-glow);
      background-color: rgba(0, 0, 0, 0);
      font-weight: 500;
      padding: 3px;
      transition: 0.2s ease-in-out;
    }
    .contact-me-link:hover {
      box-shadow: 0 1px 10px var(--color-accent-light);
      background-color: var(--color-accent-glow);
      border-radius: 3px;
      color: black;
    }


/* ========== FOCUS DIV ========== */
.about-div h2 {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 500;
}

.key-focus-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto 20px auto;
  width: fit-content;
  min-height: 100px;
  /* border: solid red 2px; */
}
.focus-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 275px;
  margin-bottom: 30px;
  /* border: solid red 2px; */
}
  .image-wrapper {
    animation-delay: 1s;
    opacity: 0;
    border-radius: 50%;
  }
  .focus-div h3 {
    margin: 10px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }
  .focus-div p {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
  }


/* ========== PROFILE DIV ========== */

.skills-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: fit-content;
  padding: 20px;
  background-color: var(--color-accent);
  border-radius: 7px;
  box-shadow: 0 5px 20px var(--color-accent);
  color: black;
  opacity: 0;
}
.skills-div .underline-div {
  border-top: 4px solid black;
}
  .skills-div h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
  }
  .skills-list {
    margin-top: 10px;
    width: 75%;
    /* border: solid red 2px; */
  }
  .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid red 2px; */
    min-width: 50%;
    margin: 5px 0;
    font-weight: 500;
  }
    .skills span {
      margin: auto;
      text-align: center;
    }









/* Slide in Animations */
.slide-in-left {
  animation: 1.5s ease-out slideInLeft;
}
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.slide-in-right {
  animation: 1.5s ease-out slideInRight;
}
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.flip-in-y {
  animation: 2s ease-in-out flipInY forwards;
}
  .image-1 {
    animation-delay: 0s;
  }
  .image-2 {
    animation-delay: 0.2s;
  }
  .image-3 {
    animation-delay: 0.4s;
  }
  .image-4 {
    animation-delay: 0.6s;
  }
  .image-10 {
    animation-delay: 1s;
  }
  @keyframes flipInY {
    0% {
       transform: perspective(400px) rotateY(90deg);
       opacity: 0;
       box-shadow: 0 0 0 var(--color-accent-glow);
    }
    40% {
       transform: perspective(400px) rotateY(-10deg);
    }
    70% {
       transform: perspective(400px) rotateY(10deg);
    }
    100% {
       transform: perspective(400px) rotateY(0deg);
       opacity: 1;
       box-shadow: 0 0 8px var(--color-accent-glow);
    }
 } 



 /* MEDIA QUERIES */

@media screen and (max-width: 360px) {

};

@media screen and (min-width: 1020px) {
  .about-div h1 {
    font-size: 50px;
    font-weight: 600;
  }
};

@media screen and (min-width: 1920px) {
  
};

