/* =====================================================
/                 PROJECT PAGE STYLES
/  ===================================================== */

/* WHOLE PROJECT PAGE */
.project-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  min-height: 400px;
  margin-bottom: 50px;
  /* border:solid red 2px; */
}
  .project-div h1 {
    font-size: 50px;
    font-weight: 600;
  }
  .underline-div {
    width: 80px;
    border-top: 4px solid var(--color-font-glow);
    border-radius: 5px;
  }


/* ======================================================= */
/* FEATURED PROJECTS */
.featured-projects-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
}
  .featured-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    min-height: 300px;
    /* border: solid red 2px; */
  }

    .featured-image {
      display: flex;
      width: 100%;
      border-radius: 7px;
      background-color: var(--color-accent-glow);
      box-shadow: 0 10px 30px var(--color-accent);
      /* border: solid red 2px; */
    }
      .featured-image * {
        margin: auto;
        border-radius: 7px;
        box-shadow: 0 2px 30px black;
        overflow: hidden;
        transition: all 0.5s;
      }
      .featured-img:hover {
        scale: 1.1;
        transition: all 0.5s;
      }
        .featured-image-hide-top {
          display: flex;
        }
        .featured-image-hide-bottom {
          display: none;
        }


    .featured-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      /* border: solid red 2px; */
    }
      .featured-content-label {
        color: var(--color-accent-glow)
      }
      .featured-content-title {
        margin: 5px 0 30px 0;
        font-size: 30px;
        font-weight: 500;
      }
      .featured-content-desc {
        z-index: 1;
        display: flex;
        align-items: center;
        height: 150px;
        width: 100%;
        padding: 20px;
        border-radius: 7px;
        background-color: rgb(46, 46, 46);
        /* border:solid red 2px; */
      }
      .featured-content-specs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0 20px 0;
        font-size: 16px;
        font-family: monospace;
      }
      .featured-content-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100px;
        /* border: solid red 2px; */
      }
        .github-icon,
        .deployed-site-icon {
          height: 30px;
          width: 30px;
        }
        .github-icon:hover,
        .deployed-site-icon:hover {
          height: 40px;
          width: 40px;
          transition: 0.3s ease-in-out;
        }
      .flex-end-content {
        justify-content: flex-end;
      }
      .flex-end-items {
        align-items: flex-end;
      }
      .text-align-right {
        text-align: right;
      }


/* ======================================================= */
/* PROJECT LIST */
.project-list-title {
  font-size: 40px;
  text-align: center;
}
.projects-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  height: fit-content;
  margin-top: 40px;
  color: rgb(0, 0, 0);
  /* border: solid red 2px; */
}
  .project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    min-width: 300px;
    max-width: 32%;
    margin: 15px 0;
    padding: 30px 20px;
    background-color: var(--color-accent-glow);
    box-shadow: 0 10px 30px var(--color-accent);
    border-radius: 8px;
    transition: 1s ease-in-out;
  }
    .project-card:hover {
      top: -10px;
    }
      .card-icon-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
        .card-file-icon {
          width: 60px;
          height: 60px;
        }
        .card-icon-wrapper span {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          width: 30%;
        }
          .card-deployed-site-icon,
          .card-github-icon {
            width: 25px;
            height: 25px;
          }
          .card-deployed-site-icon:hover,
          .card-github-icon:hover {
            width: 30px;
            height: 30px;
            transition: 0.3s ease-in-out;
          }
      .project-card h3 {
        font-size: 30px;
        font-weight: 500;
      }
      .card-desc {
        font-size: 18px;
      }
      .card-specs-list {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-family: monospace;
        color: rgba(0, 0, 0, 0.8);
      }

      .coming-soon-image {
        border-radius: 5px;
        box-shadow: 0 2px 30px black;
      }


@media screen and (min-width: 768px) {
  .footer-layout {
    flex-direction: row;
    height: 150px;
    padding-top: 0px;
  }
  .featured-project {
    flex-direction: row;
    width: 70%;
  }
  .featured-image {
    width: 55%;
  }
  .featured-content {
    width: 40%;
  }
  .featured-content-desc {
    width: 130%;
  }
  .featured-image-hide-top {
    display: none;
  }
  .featured-image-hide-bottom {
    display: flex;
  }
}
 











/* Slide in Animations */
.slide-in-left {
  animation: 1.5s ease-out slideInLeft;
}
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
.slide-in-right {
  animation: 1.5s ease-out slideInRight;
}
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }









