
/* HEADER STYLES */
.header-layout {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 0 40px;
  background-color: var(--color-bg-dark);
  font-size: 20px;
}

.navbar * {
  margin: 0 20px;
  padding: 2px 10px;
  color: var(--color-font);
  font-weight: 200;
  transition: 0.3s ease-in-out;
}

.navbar *:hover {
  color: var(--color-font-glow);
  background-color: var(--color-accent);
  box-shadow: 0 5px 20px var(--color-accent);
}