@tailwind base;
@tailwind components;
@tailwind utilities;



/* SCSS RGB */
/*$emerald-2: rgba(71, 192, 133, 1); */


:root {
  --color-bg: rgba(38, 42, 49);
  --color-bg-dark: rgb(28, 33, 40);
  --color-accent: rgba(42, 190, 120);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
