/* HomePage Styles */

.main-div {
  padding: 50px 100px;
  /* border: solid red 2px; */
}
  .main-h1 {
    font-size: 120px;
    font-weight: 200;
    letter-spacing: 5px;
    color: var(--color-font);
    margin-bottom: 5px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    border-left: solid 1px white;
    padding-left: 20px;
  }
  .main-content p {
    font-size: 18px;
    font-weight: 200;
  }
    .text-emph {
      color: var(--color-accent-glow);
      font-weight: 400;
    }
  .main-content link {
    margin: 50px;
  }
  .main-button {
    align-self: flex-start;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 50px;
    padding: 10px 15px;
    color: var(--color-font);
    transition: 0.5s ease-in-out;
  }
  .main-button:hover {
    cursor: pointer;
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    animation: pulse 2s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
      color: var(--color-font);
      text-shadow: 0 0 0px white;
      box-shadow: 0 0 0 var(--color-accent);
    }
    50% {
      color: var(--color-font-glow);
      text-shadow: 0 0 5px white;
      box-shadow: 0 5px 35px var(--color-accent);
    }
    100% {
      color: var(--color-font);
      text-shadow: 0 0 0px white;
      box-shadow: 0 0 0 var(--color-accent);
    }
  }
  