
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  color: white;
}

.main-div {
  text-align: center;
  margin: auto;
}
.main-div h1 {
  font-size: 50px;
  margin-bottom: 5px;
}
.main-div h2 {
  font-size: 30px;
}
.main-div button {
  font-size: 20px;
  border: 1px solid white;
  margin-top: 15px;
  padding: 10px 15px;
  transition: 0.5s;
}
.main-div button:hover {
  font-size: 22px;
  cursor: pointer;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

