/* HomePage Styles */

.main-div {
  text-align: center;
  margin: auto;
}
.main-div h1 {
    font-size: 50px;
    margin-bottom: 5px;
  }
  .main-div h2 {
    font-size: 30px;
  }
  .main-div button {
    font-size: 20px;
    border: 1px solid white;
    margin-top: 15px;
    padding: 10px 15px;
    color: var(--color-font);
  }
  .main-div button:hover {
    cursor: pointer;
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    transition: 0.5s ease-in-out;
    animation: pulse 2s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
      color: var(--color-font-glow);
      box-shadow: 0 5px 30px var(--color-accent);
    }
    50% {
      color: var(--color-font);
      box-shadow: 0 2px 5px var(--color-accent);
    }
    100% {
      color: var(--color-font-glow);
      box-shadow: 0 5px 30px var(--color-accent);
    }
  }
  